<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weahterappicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
         {{>header}}
    <img src="/img/IMG_20191228_200926_984.jpg" class="potrait">
    </div>
    <p id="inf">I am a CSE undergraduate student at Indian Institute of Technology (IIT), Bhubaneswar. Server-side web development enthralls me. Apart from WebDev my interest lies in competitive coding, learning algorithms and data-structures. I aspire to become a MERN stack developer. When I am not programming, I can be seen sketching, reading, playing chess or playing cards.</p>
  <p id="inf">About this web-app: I have used DarkSky API to get the weather details and Mapbox API to geocode the location cordinates. The back-end is completely written in NodeJS, used ExpressJS to build the server. The front-end is built using simple HTML5, CSS3 and JavaScript. The app is deployed on heroku.</p>
    <p id="inf">Various npm modules used: request, express and handlebars</p>
    {{>footer}}
</body>
</html>